<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58615565553-gubnmcaudt6d3vs34ft8mlcau159sghs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58615565553-gubnmcaudt6d3vs34ft8mlcau159sghs</string>
	<key>API_KEY</key>
	<string>AIzaSyAi5GGCHJcfpaGczk3T37OYw6b1g1beP5M</string>
	<key>GCM_SENDER_ID</key>
	<string>58615565553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todoblogstarter1</string>
	<key>PROJECT_ID</key>
	<string>mastograpp-e9ac2</string>
	<key>STORAGE_BUCKET</key>
	<string>mastograpp-e9ac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58615565553:ios:eeddd747a0d791e8356d50</string>
</dict>
</plist>